<div data-role="page" class="jqm-demos jqm-home">

<%= erb :'sections/updated' %>
<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>Recent Easygard Changes</h3>
                <p><b>Jan 5, 2016</b></p>
                <p>Added Zack Morris style to the <a href="/battlegames/#battlegames-otheroptions" data-ajax="false">Other Balancing options</a> for Battlegames.</p>
                <p><b>Jan 3, 2016</b></p>
                <p>Totally revamped <a href="/spells/" data-ajax="false">Spells and Abilities</a> page! Now with <a href="/spells/#magic-made-easy" data-ajax="false">Magic made easy</a> and <a href="/spells/definitions" data-ajax="false">Magic Definitions</a> sections. Also includes filters for various spells.</p>
                <p>Added Battlegames <a href="/battlegamesby/h#hungerrush" data-ajax="false">Hunger Rush</a> (submitted by Steve Stanganelli). Added <a href="/battlegamesby/t#thepurge" data-ajax="false">The Purge</a>, <a href="/battlegamesby/f#feedthetrolls" data-ajax="false">Feed the Trolls</a>, <a href="/battlegamesby/h#hoardofthehydra" data-ajax="false">Hoard of the Hydra</a>, <a href="/battlegamesby/i#islandofdread" data-ajax="false">Island of Dread</a> and <a href="/battlegamesby/m#mylifefortheswarm" data-ajax="false">My Life for the Swarm</a> (submitted by Nathan Pierce)</p>
                <p><b>Dec 12, 2015</b></p>
                <p>Added <a href="/battlegamesby/j#jugging" data-ajax="false">Jugging</a> to the list of <a href="/battlegames/" data-ajax="false">V8 Battlegames</a> (<i>thanks for the help Chris Biollo</i>)</p>
                <p><b>November 25, 2015</b></p>
                <p>Updated the <a href="/combat/#CommonClarifications" data-ajax="false">Common Clarifications</a> from the Facebook content</p>
                <p><b>November 23, 2015</b></p>
                <p>Fixed a few broken links</p>
                <p><b>October 27, 2015</b></p>
                <p>Added this changes page to the <a href="/about/" data-ajax="false">About</a> page and the dialog that says Easygard was updated.</p>
                <p><b>October 27, 2015</b></p>
                <p>Added <a href="/combat/#CommonClarifications" data-ajax="false">Common Clarifications</a> section based off of the Facebook <i>Official Amtgard Rules Discussion</i> Group</p>
                <p><b>September 22, 2015</b></p>
                <p>Added two new <a href="/battlegames/" data-ajax="false">V8 Battlegames</a>, <a href="/battlegamesby/o#ogre" data-ajax="false">Ogre</a> and <a href="/battlegamesby/p#planttheflag" data-ajax="false">Plant the Flag</a></p>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div><!-- /page -->

