<% @loaded = 'false' %>
<div data-role="page" class="jqm-demos jqm-home" id="combat">

<%= erb :'sections/updated' %>
<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

	<div role="main" class="ui-content">
            <ul data-role="listview" data-inset="true" data-icon="false">
               <li><a href="#HitLocations">Hit Locations</a></li>
               <li><a href="#CombatContact">Combat Contact</a></li>
               <li><a href="#InflictingWounds">Inflicting Wounds</a></li>
               <li><a href="#Deaths">Deaths</a></li>
               <li><a href="#CombatNotes">Combat Notes</a></li>
               <li><a href="#CommonClarifications">Common Clarifications</a></li>
            </ul>

	</div><!-- /footer -->

	</div><!-- /content -->

</div><!-- /page -->

<!-- Hit Locations Page -->
<div data-role="page" class="jqm-demos jqm-home" id="HitLocations">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>Hit Locations</h3>
    			<p>Players have five locations which may be Wounded: Left Arm, Right Arm, Left Leg, Right Leg, and Torso<br>
    			<b>Arm:</b> From just below the outside point of the shoulder to the tips of the fingers. A hand is not Wounded if struck below the wrist while holding a weapon or shield. Treat those strikes as though they had struck the weapon or shield held instead.<br>
				<b>Leg:</b> From just below the end of the buttocks in the back, the hip socket in the front, and an imaginary line between them on the sides down to and including the foot. A foot on the ground is not Wounded if struck below the ankle.<br>
				<b>Torso:</b> Everything that isn’t an arm or leg, including the groin, shoulders, and collar bones up to the vertical rise of the neck</p>
				<p><h3>Notes:</h3>
				<ol>
				<li>Players may not be struck in the neck or head. Will not count as a hit and is invalid</li>
				<li>Players may not block shots with their neck or head. Intentional head blocking can result in being called dead by a reeve</li>
				<li>A Wounded arm may not wield Active Equipment, carry anything, and must be kept out of combat</li>
				<li>A Wounded leg must have the knee in contact with the ground. The knee of the Wounded leg may be lifted from the ground briefly to enable movement so long as the unwounded leg has a knee on the ground. If the player cannot place their dead knee in contact with the ground, the foot of the Wounded leg must remain stationary, and may only be used to pivot. The player must immediately notify his/ her opponent(s) of this by stating <i>“posting”</i> in order avoid dropping to his/her knees</li>
				<li>A Wounded leg may not receive Wounds while the knee is on the ground or during the initial placement of the knee on the ground after receiving a Wound. If “posting”, the previously Wounded leg is capable of receiving an additional Wound</li>
				</ol></p>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div>
<!-- Hit Locations /page -->

<!-- Combat Contact Page -->
<div data-role="page" class="jqm-demos jqm-home" id="CombatContact">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>Combat Contact</h3>
    			<p>A broad range of contact is allowed in combat. The rules below outline what is and is not acceptable. No action is acceptable if it is performed in an unsafe manner. The responsibility for the results of an action always rests squarely on the the actor. Unsafe behavior on the field can result in suspension from play at the discretion of the Champion, Monarch, or Guildmaster of Reeves.
    			</p>
    			<p><b>Allowed:</b> The following actions are acceptable<br>
    			<ol>
				<li>Weapon to Weapon contact is allowed</li>
				<li>Weapon to body contact is allowed on valid Hit Locations using Strike-Legal portions</li>
				<li>Body to Weapon contact: Weapons may be pushed, swept, and otherwise manipulated with your body so long as the Weapon is not trapped or grabbed. Pushing or sweeping a Strike-Legal surface results in a valid hit to the location used for contact.</li>
				<li>Weapon to Shield contact is allowed</li>
				<li>Shield to Weapon contact: Shields may be used to deflect, move or pin an opponents Weapon</li>
				<li>Shield to Shield contact: Shields may be used to deflect, turn, or pin an opponents Shield so long as the wielder of the struck Shield is not moved. Bashing a shield is prohibited</li>
				</ol></p>
    			<p><b>Disallowed:</b> The following actions are unacceptable. Some amount of incidental contact is expected in a contact sport but repeated or egregious offenses will result in suspension<br>
    			<ol>
    			<li>Body to body contact is prohibited</li>
				<li>Body to Shield contact is prohibited</li>
				<li>Active Shield to body contact is prohibited; passively using a Shield to prevent an opponent’s forward movement is acceptable and does not count as body to Shield contact on the part of the recipient</li>
				<li>Active Weapon to body contact using portions of a Weapon other than Strike-Legal is prohibited; passively planting the shaft of a Great Weapon to block an incoming opponent is acceptable</li>
				<li>Forcing a player’s Weapons against them with your body or Shield is prohibited</li>
				</ol>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div>
<!-- Combat Contact /page -->

<!-- Inflicting Wounds Page -->
<div data-role="page" class="jqm-demos jqm-home" id="InflictingWounds">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>Inflicting Wounds</h3>
    			<p>Wounds may be inflicted by contacting a Hit Location with the Strike-Legal portion of a Weapon. Shots from Melee Weapons fall into two broad categories:<br>
    			<b>Slash:</b> A valid slash must be percussive (contact with an audible pop) and stop on or deflect off the victim.<br>
				<b>Stab:</b> A valid stab should strike with the tip and stop on or deflect off the victim.</p>
				<p>These requirements do not apply to projectile weapons. Any contact from the Strike-Legal portion of a projectile weapon will cause a Wound unless otherwise noted.</p>
				<p>Some contacts which partially fulfill the above criteria are listed here as examples of invalid shots</p>
				<p>
				<b>Examples of Invalid Shots:</b><br>
				<b>Grazes:</b> Slashes that are neither percussive nor stop/deflect<br>
				<b>Draw Cuts:</b> Stabs which fail to strike with thetip. These contacts slide against a victim instead of impacting cleanly<br>
				<b>Pushes:</b> These contacts are pushed into or slid against a victim after the initial motion was completely blocked and the initial motion had stopped<br></p>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div>
<!-- Inflicting Wounds /page -->

<!-- Deaths Page -->
<div data-role="page" class="jqm-demos jqm-home" id="Deaths">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>Deaths</h3>
    			<p>Any two Wounds, or a Wound to the Torso, results in a Death</p>
    			<p>
    			<ol>
    			<li>Unless otherwise noted a Dead player may not speak to living players or interact with game play in any manner</li>
    			<li>Unless otherwise noted in the battlegame description a Dead player may choose to return to his respawn point or remain where he died but may not otherwise move about</li>
				<li>Dead players may move to avoid mundane danger or interfering with living players<br>
				a. This does not count as moving for the purposes of Magic or Abilities so long as no game advantage was derived</li>
				<li>Dead players may retrieve their own equipment from the field while dead, but may not interfere with play in any way and must stay at least 10 ft from any living opposing players while doing so</li>
				<li>Dead players that move after dying may only return to play via respawn unless otherwise noted</li>
				<li>Unless otherwise noted Dead players may not be the target of Magic or Abilities</li></ol></p>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div>
<!-- Deaths /page -->

<!-- Combat Notes Page -->
<div data-role="page" class="jqm-demos jqm-home" id="CombatNotes">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>Combat Notes</h3>
    			<p>Miscellaneous rules necessary for the smooth operation of combat</p>
    			<p>
    			<ol>
	    			<li>Shots that only strike garb or unwielded equipment do not count as a hit unless:</li>
	    			<ol>
	    				<li>Said items blocked a blow that would have struck a combatant (i.e. garb, equipment, sheathed
	weapons, etc. are not shields and do not count as armor)</li>
						<li>The shot is Engulfing. Engulfing effects do trigger on garb and equipment hits</li>
					</ol>
	    			<li>If a person is wounded in an arm throwing a shot, or killed, shots they threw into motion before being struck still count as a hit, if they land within a half second of being struck. In the case of a two-handed weapon, the wielder must remove his wounded hand from the weapon within a half second for the shot to count. This should be a clear case of finishing an already thrown shot, meaning that it requires no change of direction and the last action required to finish the shot has already been started prior to being struck. If you have any questions, ask your kingdom/group level Guildmaster of Reeves. A reeve‘s call is always final in determining if a shot is in time or late</li>
					<li>Unless otherwise noted in the battlegame description players may always choose to take a Death. Players who take a Death may not return to play except by respawning, may not activate any ‘on death’ Magic and Abilities such as Fight After Death, have all Enchantments removed (including Persistent ones), and do not benefit from any Magic or Abilities that prevent Death such as Undead Minion.</li>
				</ol>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div>
<!-- Combat Notes /page -->

<!-- Common Clarifications Page -->
<div data-role="page" class="jqm-demos jqm-home" id="CommonClarifications">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>Common Clarifications</h3>
    			<p>These clarifications and misinterpretations made easy come from the Facebook group <i>Official Amtgard Rules Discussion</i></p>
    			<p>
    			<ol>
					<li>For verbals, it doesn’t matter if your target is in range/in line of sight/able to be affected by a verbal at any point but the end of the verbal.

					Your target could be on the dark side of the moon and immune to everything when you start the verbal, but if they are in range, in line of sight, and not immune when you finish the verbal, they are affected.</li>

					<li>If you moved after having died, you must have <a href="/spells/s#summondead" data-ajax="false">summon dead</a> cast on you FROM RESPAWN in order to return to play in any way other than respawning.  You can’t just run to the healer and have them summon dead you in the middle of the field.</li>

					<li><a href="/spells/a#ancestralarmor" data-ajax="false">Ancestral Armor</a> doesn’t block engulfing hits to your equipment.  It will block engulfing hits to your armor.   The reason is because, for example, an <a href="/spells/e#entangle" data-ajax="false">entangle ball</a> to the weapon doesn’t count as an entangle ball to the arm; it just effects you if it hits your equipment, and ancestral armor only stops hits to the armor.</li>

					<li><a href="/weapons/#Projectiles" data-ajax="false">Light thrown</a> is generally more powerful than heavy thrown, and purposefully so.  They both do the same amount of damage,  but light thrown has smaller design requirements and you can therefore carry more.  This is meant to be an advantage for <a href="/classes/#Assassin" data-ajax="false">Assassins</a>.</li>

					<li><a href="/spells/r#release" data-ajax="false">Release</a>/<a href="/spells/g#greaterrelease" data-ajax="false">Greater release</a> doesn’t just end states, it also ends ongoing effects.  <a href="/spells/f#fightaftereeath" data-ajax="false">Fight After Death</a>, <a href="/spells/e#elementalbarrage" data-ajax="false">Elemental Barrage</a>, <a href="/spells/a#awe" data-ajax="false">Awe</a>, <a href="/spells/h#heatweapon" data-ajax="false">Heat Weapon</a>, and <a href="/spells/t#terror" data-ajax="false">Terror</a> are all examples of effects that can be removed by Greater Release.</li>

					<li><a href="/spells/p#phasebolt" data-ajax="false">Phase Bolt</a>/<a href="/spells/p#phasearrow" data-ajax="false">Arrow</a> only ignores enchantments and ongoing effects.  It doesn’t ignore anything else.  For example, you can throw a phase bolt at a <a href="/classes/#Monk" data-ajax="false">Monk</a> in <a href="/spells/s#sanctuary" data-ajax="false">sanctuary</a> from 2 feet away and they are not immune to it because it ignores sanctuary.  It also ignores <a href="/spells/m#missileblock" data-ajax="false">Missile Block</a>.  It does nothing to a shield, and it doesn’t ignore regular armor.  It will ignore pure magic armor (like <a href="/spells/s#stoneskin" data-ajax="false">stoneskin</a>) and treat warrior <a href="/spells/a#ancestralarmor" data-ajax="false">Ancestral Armor</a> like regular <a href="/armor/" data-ajax="false">armor</a>.</li>

					<li>You have to say a person’s name when you cast verbal magic on them at range.  If you don’t know their name, you point at them with a free hand and use their class and unique description.  If you don’t do that, your spell is not properly cast.  It doesn’t matter if they absolutely know who you are casting on.  It doesn’t matter if everyone and God knows who you are casting on.  The spell is not properly cast.  It’s part of the incantation.</li>

					<li><a href="/spells/h#heatweapon" data-ajax="false">Heat weapon</a> targets weapons.  If you drop your weapon mid-incantation, it is still affected because the weapon, not the person is targeted.  This means that a weapon lying all by itself in a field can be affected by heat weapon.</li>

					<li><a href="/spells/p#pyrotechnics" data-ajax="false">Pyrotechnics</a> targets a person but affects their equipment.  The weapons themselves must be immune to flame in order to avoid Pyrotechnics.  <a href="/classes/#Monk" data-ajax="false">Monks</a> and <a href="/classes/#AntiPaladin" data-ajax="false">Anti-Palidins’s</a> are immune to verbals and flame respectively, but their equipment is not.  In general, what a spell TARGETS doesn’t matter when it comes to immunities; just what it AFFECTS.</li>

					<li><a href="/states/#SpecialEffects" data-ajax="false">Shield Crushing/Armor Breaking</a> don’t have to be announced on every swing.  When you first engage with someone, let them know your weapons are AB/SC, and you’ll be fine.  Same goes for any enchantment/special effect.</li>

					<li>The range on all magics state the maximum range.  This means that all ranged verbals can be used at a range of touch.  Because <a href="/spells/e#enlightenedsoul" data-ajax="false">Enlightened Soul</a> only makes someone <a href="/states/#Immune" data-ajax="false">immune</a> to ranged verbals, it will not protect against a ranged verbal used at a range of touch.  However, in order for the unwilling to be affected by a touch magic, they must be <a href="/states/#Frozen" data-ajax="false">frozen</a>, <a href="/states/#Stunned" data-ajax="false">stunned</a>, <a href="/combat/#Deaths" data-ajax="false">dead</a>, or unable to otherwise fight or move away. This, for example, means a frozen <a href="/classes/#Monk" data-ajax="false">Monk</a> is not immune to <a href="/spells/s#shatter" data-ajax="false">Shatter</a> used at a range of touch</li>

				</ol>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div>
<!-- Combat Notes /page -->
