<% @loaded = 'false' %>
<div data-role="page" class="jqm-demos jqm-home" id="states">

<%= erb :'sections/updated' %>
<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

	<div role="main" class="ui-content">
            <ul data-role="listview" data-inset="true" data-icon="false">
               <li><a href="#StatesMadeEasy">States Made Easy</a></li>
               <li><a href="#SpecialEffects">Special Effects</a></li>
               <li data-role="list-divider">States</li>
               <li><a href="#Cursed">Cursed</a></li>
               <li><a href="#Fragile">Fragile</a></li>
               <li><a href="#Frozen">Frozen</a></li>
               <li><a href="#Immune">Immune</a></li>
               <li><a href="#Insubstantial">Insubstantial</a></li>
               <li><a href="#OutOfGame">Out of Game</a></li>
               <li><a href="#Stopped">Stopped</a></li>
               <li><a href="#Stunned">Stunned</a></li>
               <li><a href="#Suppressed">Suppressed</a></li>
            </ul>

	</div><!-- /footer -->

	</div><!-- /content -->

</div><!-- /page -->

<!-- States Made Easy Page -->
<div data-role="page" class="jqm-demos jqm-home" id="StatesMadeEasy">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>States Made Easy</h3>
    			<p>The number and variety of Magic, Abilities, States, and Special Effects can seem overwhelming, but it doesn’t have to be. Here are a few quick steps to help you learn what you need to know to play on the field with magic and abilities.</p>
				<p>Only three things can adversely affect you: Weapons, Magic Balls, and Verbals.</p>
				<p>Weapons and Magic Balls have to physically hit you or your equipment to have an effect. No hit, no effect, no problem.</p>
				<p>Engulfing Magic Balls (Iceball, etc) and weapons (Pinning Arrow, etc) can affect you by hitting your equipment or garb. Everything else has to hit your body. Engulfing isn’t terribly common.</p>
				<p>Verbal Magic and Abilities all follow the same format: They state your name, point at you, and say an incantation of three repetitions of a phrase that activates the Verbal.</p>
				<p>All offensive Verbals have very descriptive incantations. The incantation typically contains the School and the State of the Magic or Ability being used. Example: The incantation for Hold Person is “I command thee to stop” three times; The School is ‘Command’ and the State it inflicts is ‘Stopped’.</p>
				<p>No Verbal has a range greater than 50’. If you can get further away from the caster than that you won’t be affected.</p>
				<p>There are lots of Magic and Abilities, but only a few results. If you read through and understand the States Defined and Special Effects Defined sections below you will understand the result of any Magic or Ability used against you in combat on the field. All offensive combat abilities (with very few exceptions) result in one of those States or Special Effects. If you don’t know what a magic or ability does by its incantation don’t worry; ask the caster to explain and they can communicate to you in just a couple of words exactly what happened using States and Special Effects.</p>
				<p>Immunities are also very simple: If the Magic or Ability targeting you is of a given School (which is always part of the incantation) and you have Immunity to that School, then the magic or ability has no effect on you. The only exception is if they are targeting equipment you are carrying instead of you yourself, but the player will have to indicate that as part of using the Magic or Ability. If you are unaffected by a Magic or Ability, you must announce it when the Magic or Ability is complete. You can also let them know before hand if you’re feeling generous</p>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div>
<!-- States Made Easy /page -->

<!-- Cursed Page -->
<div data-role="page" class="jqm-demos jqm-home" id="Cursed">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>Cursed</h3>
    			<p>Player becomes Immune to Spirit. Cursed persists after death but is removed at Respawn. Has no effect on magic or abilities already cast or ongoing</p>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div>
<!-- Cursed /page -->

<!-- Fragile Page -->
<div data-role="page" class="jqm-demos jqm-home" id="Fragile">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>Fragile</h3>
    			<p>Player dies on the next Wound</p>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div>
<!-- Fragile /page -->

<!-- Frozen Page -->
<div data-role="page" class="jqm-demos jqm-home" id="Frozen">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>Frozen</h3>
    			<p>Player may not move, speak, or take any action. Can only be affected by mechanics that work on States in general (such as Release) or Frozen in specific (such as Shatter). Otherwise player and their equipment is not affected by combat, magic, etc.</p>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div>
<!-- Frozen /page -->

<!-- Immune Page -->
<div data-role="page" class="jqm-demos jqm-home" id="Immune">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>Immune</h3>
    			<p>The bearing player or object is not affected by Magic or Abilities from a given School. Immunity granted as a Trait does not prevent players from making use of their own class Abilities. Unless otherwise noted, Immunities do not extend beyond the player or object that has them. Example: A player with Immunity to Flame can still have his armor destroyed by a Fireball. Unless otherwise noted, players with Immunities may still be targeted by Magic and Abilities of the given School. Example: A player with Immunity to Flame can still be the target of Pyrotechnics which would still destroy their equipment (as Immunities do not extend to equipment unless noted). Immunities do not interact with Enchantments worn by the player. Example One: An Anti-paladin may wear the Flameblade Enchantment. Example Two: A player with Protection From Magic still gains Stopped if Corrosive Mist is later cast on them</p>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div>
<!-- Immune /page -->

<!-- Insubstantial Page -->
<div data-role="page" class="jqm-demos jqm-home" id="Insubstantial">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>Insubstantial</h3>
    			<p>This State has both offensive and defensive purposes and greatly limits a player’s ability to interact with play. Insubstantial players:<br>
				<ol>
				<li>May not move from their starting location unless otherwise noted</li>
				<li>Are incapable of physically interacting with game items, objectives, or other players in any way unless otherwise noted</li>
				<li>Can only be affected by mechanics that work on States in general (such as Release) or Insubstantial in specific (such as Dimensional Rift). Player and their equipment are otherwise unaffected by combat, magic, etc</li>
				<li>Are not affected or stopped by game terrain such as walls, lava pits, traps, etc unless otherwise indicated by the reeve or game designer</li>
				<li>May be seen and heard. 6. May see and hear</li>
				<li>May Charge abilities</li>
				<li>May use Magic and Abilities on themselves if the Magic and Abilities are able to affect Insubstantial players</li>
				<li>May remove this State from themselves at any time by Incanting “I return to the physical world” x2 provided they are the cause of the State and entered it voluntarily. Otherwise they must end the State as per the description of the responsible Magic or Ability</li>
				<li>Insubstantial triggered from enchantments worn is not considered voluntary</li>
				<li>The ending Incantation for Insubstantial is not interrupted by the player moving their feet</li>
				<li>Must indicate their Insubstantial State by saying “Insubstantial” if asked, attacked, or targeted by a Magic or Ability</li>
				<li>May not delay the game excessively. For instance, you may not use the Insubstantial State to avoid being killed if you are the last player alive in a Mutual Annihiliation battlegame. The reeves decision in these situations is final</li></ol></p>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div>
<!-- Insubstantial /page -->

<!-- Out of Game Page -->
<div data-role="page" class="jqm-demos jqm-home" id="OutOfGame">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>Out of Game</h3>
    			<p>The player is not currently participating in play. Do not interact with an Out of Game player unless you are a reeve. A player may become Out of Game if they are injured, if they are being addressed by a reeve, or other similar situation. Rarely, a Magic or Ability may also cause you to become Out of Game. The Out of Game State may only be ended by a reeve, unless otherwise noted</p>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div>
<!-- OutOfGame /page -->

<!-- Stopped Page -->
<div data-role="page" class="jqm-demos jqm-home" id="Stopped">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>Stopped</h3>
    			<p>Player may not move their feet. Unless otherwise noted Magic and Abilities such as Teleport, Blink, Lost, Banish, etc. which allow or require movement fail when targeting a Stopped player</p>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div>
<!-- Stopped /page -->

<!-- Stunned Page -->
<div data-role="page" class="jqm-demos jqm-home" id="Stunned">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>Stunned</h3>
    			<p>Player is unable to act in any manner. May still be affected as per normal</p>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div>
<!-- Stunned /page -->

<!-- Suppressed Page -->
<div data-role="page" class="jqm-demos jqm-home" id="Suppressed">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>Suppressed</h3>
    			<p>Player unable to cast magic or activate abilities. Has no effect on abilities already activated, magic already cast, Chants already in progress, or enchantments activating such as Phoenix Tears</p>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div>
<!-- Suppressed /page -->

<!-- Special Effects Page -->
<div data-role="page" class="jqm-demos jqm-home" id="SpecialEffects">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: @loaded} %>
<% @loaded = 'true' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>Special Effects</h3>
    			<p>
				<b>Armor Breaking:</b> A hit to armor from a weapon, Magic Ball, etc. with the Armor Breaking ability will immediately remove all Armor Points from the location struck if the location struck currently has three or less Armor Points. If the armor currently has four or more Armor Points then the armor has one Armor Point removed as per normal. Example: Armor with 4 points is struck by a weapon with Armor Breaking. The armor loses an Armor Point at the location struck. The armor is struck again in the same location which now has 3 points. The Armor Points at that location are reduced to zero and the wearer is unharmed unless otherwise noted. Denoted by announcing “Breaking”<br>
				<b>Armor Destroying:</b> A hit to armor from a weapon, Magic Ball, etc. with the Armor Destroying Special Effect reduces the armor to zero points in the location struck. The wearer is unharmed unless otherwise noted. Denoted by announcing “Destroying”<br>
				<b>Shield Crushing:</b> Three hits to a shield from a weapon, Magic Ball, etc. with the Shield Crushing Special Effect destroys the shield. The wearer is unharmed unless otherwise noted. Hits do not all have to be from the same source; hits from different sources are cumulative. Denoted by announcing “Shield Crushing”<br>
				<b>Shield Destroying:</b> A hit to a shield from a weapon, Magic Ball, etc. with the Shield Destroying Special Effect destroys the shield. The wearer is unharmed unless otherwise noted. Denoted by announcing “Shield Destroying”<br>
				<b>Weapon Destroying:</b> A weapon hit by an effect with the Weapon Destroying Special Effect is destroyed<br>
				<b>Wounds Kill:</b> Players Wounded by objects with the Wounds Kill Special Effect are killed. Denoted by announcing “Wounds Kill”.
    			</p>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div>
<!-- Special Effects /page -->

